@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>izzaMama</title>
     </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">PizzaMama Accueil</h1>
        <p><a asp-page="MenuPizzas">Voir le menu des pizzas</a>.</p>
    </div>
    </body>
</html>

