@page
@model pizza_mama.Pages.MenuPizzasModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>Menu des pizzas</title>
    </head>
    <body>
        <h1>Menu des pizzas</h1>
        <a asp-page="Index">Retour à l'accueil</a>

    <ul>
        @foreach (var pizza in Model.Pizza)
        {
            <li>@pizza.nom - @pizza.prix €</li>
        }
    </ul>
    
    </body>
</html>
